# Ignore temp files
*~
*.swp
*.swo
#
/casainit.csh
/casainit.sh
code/.cproject
code/.project
code/.settings
code/build*
code/casadbus/plotserver/PlotServerProxy.dbusproxy.h
code/casadbus/session/DBusSession.dbusproxy.h
code/casadbus/viewer/ViewerProxy.dbusproxy.h
code/casaqt/PlotterImplementations/.cproject
code/casaqt/PlotterImplementations/.project
code/casaqt/QtBrowser/*.moc.cc
code/casaqt/QtBrowser/*.qrc.cc
code/casaqt/QtBrowser/*.ui.h
code/casaqt/QtBrowser/.cdtproject
code/casaqt/QtBrowser/.cproject
code/casaqt/QtBrowser/.project
code/casaqt/QtBrowser/.settings
code/casaqt/QtUtilities/*.moc.cc
code/casaqt/QtUtilities/*.qrc.cc
code/casaqt/QtUtilities/*.ui.h
code/casaqt/QtUtilities/.cproject
code/casaqt/QtUtilities/.project
code/casaqt/QwtPlotter/*.moc.cc
code/casaqt/QwtPlotter/*.qrc.cc
code/casaqt/QwtPlotter/*.ui.h
code/casaqt/QwtPlotter/.cproject
code/casaqt/QwtPlotter/.project
code/casaqt/apps/qwtplottertest/.cproject
code/casaqt/apps/qwtplottertest/.project
code/display/RegionShapes/*.moc.cc
code/display/RegionShapes/*.ui.h
code/display/RegionShapes/.cdtproject
code/display/RegionShapes/.cproject
code/display/RegionShapes/.project
code/display/RegionShapes/.settings
code/graphics/GenericPlotter/.cproject
code/graphics/GenericPlotter/.project
code/graphics/GenericPlotter/.settings
code/plotms/Actions/*.moc.cc
code/plotms/Actions/*.qrc.cc
code/plotms/Actions/*.ui.h
code/plotms/Actions/.cproject
code/plotms/Actions/.project
code/plotms/Data/*.moc.cc
code/plotms/Data/*.qrc.cc
code/plotms/Data/*.ui.h
code/plotms/Data/.cproject
code/plotms/Data/.project
code/plotms/Gui/*.moc.cc
code/plotms/Gui/*.qrc.cc
code/plotms/Gui/*.ui.h
code/plotms/Gui/.cproject
code/plotms/Gui/.project
code/plotms/GuiTabs/*.moc.cc
code/plotms/GuiTabs/*.qrc.cc
code/plotms/GuiTabs/*.ui.h
code/plotms/GuiTabs/.cproject
code/plotms/GuiTabs/.project
code/plotms/PlotMS/*.moc.cc
code/plotms/PlotMS/*.qrc.cc
code/plotms/PlotMS/*.ui.h
code/plotms/PlotMS/.cproject
code/plotms/PlotMS/.project
code/plotms/Plots/*.moc.cc
code/plotms/Plots/*.qrc.cc
code/plotms/Plots/*.ui.h
code/plotms/Plots/.cproject
code/plotms/Plots/.project
code/plotms/apps/casaplotms/.cproject
code/plotms/apps/casaplotms/.project
code/xmlcasa/build.log.0415
gcwrap/apps/module_paramgui/Debug
gcwrap/apps/module_paramgui/build
gcwrap/apps/module_paramgui/setup.py
gcwrap/build*
gcwrap/python/implement/QtParamGui/*.moc.cc
gcwrap/python/implement/QtParamGui/*.qrc.cc
gcwrap/python/implement/QtParamGui/*.ui.h
gcwrap/python/implement/QtParamGui/.cproject
gcwrap/python/implement/QtParamGui/.project
gcwrap/python/modules/interrupt/build
gcwrap/tools/ms/htmlfiles
gcwrap/tools/ms/pdf_files
gcwrap/tools/plotms/.cproject
gcwrap/tools/plotms/.project
gcwrap/tools/scimath/htmlfiles
gcwrap/tools/scimath/pdf_files
gcwrap/tools/synthesis/htmlfiles
gcwrap/tools/synthesis/pdf_files
/linux_64b
!gcwrap/python/scripts/imagerhelpers/*~
!gcwrap/python/scripts/imagerhelpers/*.swp
!gcwrap/python/scripts/imagerhelpers/*.swo
